{% if entrant %}

    {% if entrant.isSinglePlayer %}

        <a href="{{ url('player_details', { 'slug': entrant.slug }) }}">
            {{ entrant.nameWithPlayers }}
        </a>

    {% elseif entrant.isTeam %}

        {{ entrant.name }} (

        {% for player in entrant.getPlayers() %}

            <a href="{{ url('player_details', { 'slug': player.slug }) }}">
                {{ player.gamerTag }}
            </a>

        {% endfor %}

        )

    {% else %}

        {{ entrant.name }}

    {% endif %}

{% endif %}
