{% if entrant %}

    {% if entrant.players|length > 1 %}

        {{ entrant.name }} (

        {% for player in entrant.players %}

            <a href="{{ url('player_details', { 'slug': player.slug }) }}">
                {{ player.gamerTag }}
            </a>

        {% endfor %}

        )

    {% elseif entrant.players|length == 1 %}

        <a href="{{ url('player_details', { 'slug': entrant.players[0].slug }) }}">
            {{ entrant.extendedName }}
        </a>

    {% else %}

        {{ entrant.name }}

    {% endif %}

{% endif %}
