{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% form_theme form '@SonataAdmin/Form/form_admin_fields.html.twig' %}

{% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block sonata_page_content_nav %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Import "{{ tournament.name }}"</a>
            </div>
        </div>
    </nav>

{% endblock %}

{% block sonata_admin_content %}
    {% if error %}

        <div class="alert alert-error">
            {{ error }}
        </div>

    {% else %}

        <div class="sonata-ba-form">
            {{ form_start(form) }}
            {{ form_helper.render_groups(admin, form, ['events'], false) }}
            {{ form_end(form) }}
        </div>

    {% endif %}
{% endblock %}