{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3">

        <div class="well">
            <h4>{{ tournament.name }}</h4>

            Location: {{ tournament.location }}<br>
            Date: {{ tournament.dateStart|date('d-m-Y') }}<br>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ path('tournaments_details', { 'slug': tournament.slug }) }}">Details</a>
            </li>
            <li class="list-group-item">
                <a href="{{ path('tournaments_brackets', { 'slug': tournament.slug }) }}">Brackets</a>
            </li>
        </ul>

    </div>
    <div class="col-md-9 ">
        {% block tournament %}{% endblock %}
    </div>
</div>

{% endblock %}
