{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3 well">
        <h3>Tournaments</h3>
        <br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="col-md-9">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>

    {% for tournament in pagination %}

        <tr>
            <td>
                <a href="{{ url('tournaments_details', { 'slug': tournament.slug }) }}">
                    {{ tournament.name }}
                </a>
            </td>
            <td>{{ tournament.location }}</td>
            <td>{{ tournament.dateStart|date('Y-m-d') }}</td>
        </tr>

    {% endfor %}

        </table>
        <div class="text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>

{% endblock %}
