{% extends 'AppBundle:Tournaments:base.html.twig' %}

{% block tournament %}

<h2>Results</h2>
<br>
<div>
    <ul class="nav nav-tabs" role="tablist">

        {% for index, event in tournament.events %}

        <li role="presentation" {{ index == 0 ? 'class="active"' : '' }}>
            <a href="#event-{{ event.id }}" aria-controls="event-{{ event.id }}" role="tab"
                data-toggle="tab">
                {{ event.name }}
            </a>
        </li>

        {% endfor %}

    </ul>
    <div class="tab-content">

        {% for index, event in tournament.events %}

        <div role="tabpanel" class="tab-pane  {{ index == 0 ? 'active' : '' }}" id="event-{{ event.id }}">
            <br>

            {% if results[event.id] is defined and results[event.id]|length > 0 %}

            <table class="table">
                <tbody>

                {% for result in results[event.id] %}

                <tr>
                    <td>{{ result.rank }}</td>
                    <td>{{ include('entrant.html.twig', { 'entrant': result.entrant }) }}</td>
                </tr>

                {% endfor %}

                </tbody>
            </table>

            {% else %}

                No results found.

            {% endif %}

        </div>

        {% endfor %}

    </div>
</div>

{% endblock %}