{% macro set(set) %}

    <div class="bracket-set">
        <div class="bracket-set-entrant-one">

            {% if set.entrantOne and set.isWinner(set.entrantOne) %}
                <strong>{{ set.entrantOneName }} ({{ set.winnerScore }})</strong>
            {% else %}
                {{ set.entrantOneName }} ({{ set.loserScore }})
            {% endif %}

        </div>
        <div class="bracket-set-entrant-two">

            {% if set.entrantTwo and set.isWinner(set.entrantTwo) %}
                <strong>{{ set.entrantTwoName }} ({{ set.winnerScore }})</strong>
            {% else %}
                {{ set.entrantTwoName }} ({{ set.loserScore }})
            {% endif %}

        </div>
    </div>

{% endmacro %}
