{% extends 'AppBundle:Tournaments/brackets:base.html.twig' %}

{% import '@App/Tournaments/brackets/macros.html.twig' as macros %}

{% block bracket %}

    <div class="col-md-12">
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th></th>

                {% for entrant in bracket.entrants %}

                    <th>{{ macros.entrant(entrant) }}</th>

                {% endfor %}

                </tr>
            </thead>
            <tbody>

            {% for entrant in bracket.entrants %}

                <tr>
                    <td>{{ macros.entrant(entrant) }}</td>

                    {% for opponent in bracket.entrants %}

                        {% if entrant == opponent %}

                            <td>N/A</td>

                        {% else %}
                            {% set set = bracket.getSet(entrant, opponent) %}

                            {% if set.hasResultWithScore %}

                                <td>

                                    {% if set.isWinner(opponent) %}

                                        {{ set.loserScore }} - <strong>{{ set.winnerScore }}</strong>

                                    {% else %}

                                        <strong>{{ set.winnerScore }}</strong> - {{ set.loserScore }}

                                    {% endif %}

                                </td>

                            {% elseif set.hasResult %}

                                <td>

                                    {% if set.isWinner(opponent) %}

                                        L

                                    {% else %}

                                        <strong>W</strong>

                                    {% endif %}

                                </td>

                            {% else %}

                                <td>N/A</td>

                            {% endif %}

                        {% endif %}

                    {% endfor %}

                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
