{% extends 'AppBundle:Tournaments/brackets:base.html.twig' %}

{% block bracket %}

    <div class="col-md-12" style="width: 2000px;">
        <h3>Winners</h3>

        {% for sets in bracket.winnersBracketSetsByRound %}

            <div class="pull-left">

                {% for set in sets %}

                    <div class="bracket-set">
                        <div class="bracket-set-entrant-one">

                            {% if set.entrantOne and set.isWinner(set.entrantOne) %}
                                <strong>{{ set.entrantOneName }} ({{ set.winnerScore }})</strong>
                            {% else %}
                                {{ set.entrantOneName }} ({{ set.loserScore }})
                            {% endif %}

                        </div>
                        <div class="bracket-set-entrant-two">

                            {% if set.entrantTwo and set.isWinner(set.entrantTwo) %}
                                <strong>{{ set.entrantTwoName }} ({{ set.winnerScore }})</strong>
                            {% else %}
                                {{ set.entrantTwoName }} ({{ set.loserScore }})
                            {% endif %}

                        </div>
                    </div>

                {% endfor %}

            </div>

        {% endfor %}
    </div>

{% endblock %}
