{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <p>
        Hello smasher!
    </p>
    <p>
        If you're reading this it means you have access to an early version of the SmashRanking Reboot project. The
        purpose of this early version is to confirm that the data from the previous SmashRanking project has been
        imported correctly. Most additional functionality is not yet in place, and the UI is just a basic Bootstrap
        UI so far. There's no need to report minor issues right now, since I'm already aware of many of them. That
        being said, if you encounter some major bugs like pages not functioning at all, or results being completely
        wrong, please let me know.
    </p>
    <p>
        That being said, most of the data can already be accessed through an API. This is also just a concept, but it
        can serve as a starting point for discussing what data the API actually needs to expose and in what format.
        Below you will find some examples of API URLs.
    </p>
    <br>
    <p>
        <strong>Player overview</strong>
        <br>
        <a href="{{ url('api_players_overview') }}">
            /api/v0.1/players/
        </a>
    </p>
    <p>
        <strong>Player overview (with pagination)</strong>
        <br>
        <a href="{{ url('api_players_overview', { 'page': 2 }) }}">
            /api/v0.1/players/?page=2
        </a>
    </p>
    <p>
        <strong>Player sets (could be slow, needs pagination and/or caching)</strong>
        <br>
        <a href="{{ url('api_players_sets', { 'slug': 'armada' }) }}">
            /api/v0.1/players/:slug/sets/
        </a>
    </p>
    <p>
        <strong>Players head-to-head</strong>
        <br>
        <a href="{{ url('api_players_head_to_head', { 'playerOneSlug': 'amsah', 'playerTwoSlug': 'zgetto' }) }}">
            /api/v0.1/players/:player-one-slug/head-to-head/:player-two-slug
        </a>
    </p>
    <p>
        <strong>Tournament overview</strong>
        <br>
        <a href="{{ url('api_tournaments_overview') }}">
            /api/v0.1/tournaments/
        </a>
    </p>
    <p>
        <strong>Tournament overview (with name filtering)</strong>
        <br>
        <a href="{{ url('api_tournaments_overview', { 'name': 'avalon' }) }}">
            /api/v0.1/tournaments/?name=avalon
        </a>
    </p>
    <p>
        <strong>Tournament details</strong>
        <br>
        <a href="{{ url('api_tournaments_details', { 'slug': 'avalon-iii' }) }}">
            /api/v0.1/tournaments/avalon-iii/
        </a>
    </p>
    <p>
        <strong>Tournament results</strong>
        <br>
        <a href="{{ url('api_tournaments_results', { 'eventId': 404 }) }}">
            /api/v0.1/tournaments/events/:event-id/results/
        </a>
    </p>
    <br>
    <h4>Current issues</h4>
    <ul>
        <li>
            It is not yet possible to generate results for round robin pools and phase groups using the Swiss system. They will be ignored
            on the result pages.
        </li>
        <li>
            The bracket pages are a work in progress and will probably contain flaws. This does not necessarily mean that the underlying
            data is flawed (although it's possible, especially with data from smashranking.eu).
        </li>
        <li>
            The filtering functionality on the tournament and player overview pages is still pretty limited.
        </li>
        <li>
            Some tournament and player details have not been imported yet (for example players' mains and secondaries).
        </li>
        <li>
            Some pages are slow. This will be improved later by adding pagination and/or caching.
        </li>
    </ul>

{% endblock %}
