{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3">

        <div class="well">
            <h4>{{ player.gamerTag }}</h4>

            Full name: {{ player.name }}<br>
            Location: {{ player.location }}<br>
            Nationality: {{ player.nationality }}<br>

            {% if player.mains|length > 0 %}
                Mains: {{ player.mains|join(', ') }}<br>
            {% endif %}

            {% if player.secondaries|length > 0 %}
                Secondaries: {{ player.secondaries|join(', ') }}<br>
            {% endif %}
        </div>

    </div>
    <div class="col-md-9 ">
        {% block player %}{% endblock %}
    </div>
</div>

{% endblock %}
