{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3 well">

        <h4>{{ player.gamerTag }}</h4>

        Full name: {{ player.name }}<br>
        Location: {{ player.location }}<br>
        Nationality: {{ player.nationality }}<br>

    </div>
    <div class="col-md-9 ">

    {% for eventId, result in results %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#collapse-{{ eventId }}" data-toggle="collapse">
                    {{ result.tournament.name }}: {{ result.event.name }}
                </a>
                <div class="pull-right">
                    <strong>{{ result.rank }}</strong>
                </div>
            </div>
            <div id="collapse-{{ eventId }}" class="collapse">
                <div class="panel-body">

            {% for phase in result.setsByPhase %}

                <h4>{{ phase.name }}</h4>

                {% for set in sort_player_sets(phase.sets) %}
                    {% if set.status == constant('CoreBundle\\Entity\\Set::STATUS_PLAYED') %}

                <div class="row">
                    <div class="col-md-3">

                        {% if set.entrantOne and set.isWinner(set.entrantOne) %}
                            <strong>{{ include('entrant.html.twig', { 'entrant': set.entrantOne }) }}</strong>
                        {% else %}
                            {{ include('entrant.html.twig', { 'entrant': set.entrantOne }) }}
                        {% endif %}

                    </div>
                    <div class="col-md-1 text-center">

                        {% if not set.entrantOneScore is null %}
                            {{ set.entrantOneScore }}
                        {% else %}
                            {{ set.entrantOne and set.isWinner(set.entrantOne) ? 'W' : 'L' }}
                        {% endif %}

                    </div>
                    <div class="col-md-3">

                        {% if set.entrantTwo and set.isWinner(set.entrantTwo) %}
                            <strong>{{ include('entrant.html.twig', { 'entrant': set.entrantTwo }) }}</strong>
                        {% else %}
                            {{ include('entrant.html.twig', { 'entrant': set.entrantTwo }) }}
                        {% endif %}

                    </div>
                    <div class="col-md-1 text-center">

                        {% if not set.entrantTwoScore is null %}
                            {{ set.entrantTwoScore }}
                        {% else %}
                            {{ set.entrantTwo and set.isWinner(set.entrantTwo) ? 'W' : 'L' }}
                        {% endif %}

                    </div>
                    <div class="col-md-4">
                        {{ set.roundName }}
                    </div>
                </div>

                    {% endif %}
                {% endfor %}

            {% endfor %}

                </div>
            </div>
        </div>

    {% endfor %}

    </div>
</div>

{% endblock %}
