{% extends 'AppBundle:Players:base.html.twig' %}

{% block player %}

    {% for eventId, result in results %}

        <div class="panel panel-default">
            <div class="panel-heading">
                Results for <strong>{{ result.event.name }}</strong> at <strong>{{ result.event.tournament.name }}</strong>
                ({{ result.event.tournament.dateStart.format('Y-m-d') }})
            </div>
            <div>
                <div class="panel-body">
                    <p>
                        Rank: {{ result.rank }}
                        <br>
                        <br>
                        <a href="{{ path('player_event_results', {
                            'slug': player.slug,
                            'eventId': result.event.id
                        }) }}">Detailed results</a>
                        <br>
                        <a href="{{ path('tournaments_details', { 'slug': result.event.tournament.slug }) }}">Tournament details</a>
                    </p>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}
