{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3 well">

        <h4>{{ player.gamerTag }}</h4>

        Full name: {{ player.name }}<br>
        Location: {{ player.location }}<br>
        Nationality: {{ player.nationality }}<br>

    </div>
    <div class="col-md-9 ">

    {% set counter = 0 %}

    {% for result in results %}

        {% for eventName, phases in result.sets %}
            {% set counter = counter + 1 %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="#collapse-{{ counter }}" data-toggle="collapse">
                    {{ result.name }}: {{ eventName }}
                </a>
                <div class="pull-right">
                    <strong>{{ result.result.rank }}</strong>
                </div>
            </div>
            <div id="collapse-{{ counter }}" class="collapse">
                <div class="panel-body">

            {% for phaseName, sets in phases %}

                <h4>{{ phaseName }}</h4>

                <table class="table">
                    <tbody>

                    {% for set in sort_player_sets(sets) %}

                        <tr>
                            <td>
                                <strong>{{ set.winner.name }}</strong>
                            </td>
                            <td>{{ set.winnerScore }}</td>
                            <td>{{ set.loser.name }}</td>
                            <td>{{ set.loserScore }}</td>
                            <td>Round {{ set.round }}</td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

            {% endfor %}

                </div>
            </div>
        </div>

        {% endfor %}

    {% endfor %}

    </div>
</div>

{% endblock %}
