{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3 well">

        <h4>{{ player.gamerTag }}</h4>

        Full name: {{ player.name }}<br>
        Location: {{ player.location }}<br>
        Nationality: {{ player.nationality }}<br>

    </div>
    <div class="col-md-9 ">

    {% for tournament, events in setsByTournament %}

        <h4>{{ tournament }}</h4>
        <br>

        {% for eventName, phases in events %}

            {{ eventName }}
            <br>

            {% for phaseName, sets in phases %}

                {{ phaseName }}
                <br>
                <br>
                <table class="table">
                    <tbody>

                {% for set in sort_player_sets(sets) %}

                    <tr>
                        <td>
                            <strong>{{ set.winner.name }}</strong>
                        </td>
                        <td>{{ set.winnerScore }}</td>
                        <td>
                            {{ set.loser.name }}
                        </td>
                        <td>{{ set.loserScore }}</td>
                        <td>Round {{ set.round }}</td>
                    </tr>

                {% endfor %}

                    </tbody>
                </table>

            {% endfor %}

        {% endfor %}

    {% endfor %}

    </div>
</div>

{% endblock %}
