{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3 well">

test

    </div>
    <div class="col-md-9 ">

    {% for tournament, events in setsByTournament %}

        {{ tournament }}
        <br>

        {% for eventName, phases in events %}

            {{ eventName }}
            <br>

            {% for phaseName, sets in phases %}

                {{ phaseName }}
                <br>
                <br>

                {% for set in sets %}

                    <strong>{{ set.winner.name }}</strong>
                    vs.
                    {{ set.loser.name }}:

                    {{ set.winnerScore }} - {{ set.loserScore }}

                    (round {{ set.round }})
                    <br>

                {% endfor %}

            {% endfor %}

        {% endfor %}

        <br>
        <br>

    {% endfor %}

    </div>
</div>

{% endblock %}
