{% extends 'AppBundle::layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3 well">
        <h3>Players</h3>
        <br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="col-md-9">
        <table class="table">
            <thead>
                <tr>
                    <th>Tag</th>
                    <th>Location</th>
                    <th>Nationality</th>
                    <th></th>
                </tr>
            </thead>

    {% for player in pagination %}

        <tr>
            <td>
                <a href="{{ url('player_details', { 'slug': player.slug }) }}">
                    {{ player.gamerTag }}
                </a>
            </td>
            <td>{{ player.location }}</td>
            <td>{{ player.nationality }}</td>
        </tr>

    {% endfor %}

        </table>
        <div class="text-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>

{% endblock %}
